<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Планеты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<main>
    <div th:each="planet : ${planets}">
        <p th:text="${planet.name}"></p>
        <form th:action="'/planet/' + ${planet.id} +'/delete'">
            <button type="submit" method="post" class="btn btn-info">Удалить</button>
        </form>
    </div>
    <div>
        <a href="/planet/planetAdd">Добавить планету</a>
    </div>
</main>

</body>
</html>