<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Добавить правителя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<main>
    <div>
        <form action="/ruler/rulerAdd" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Введите имя правителя">
            <input type="text" name="age" placeholder="Введите возраст правителя">
            <button type="submit" class="btn btn-success">Добавить нового правителя</button>
        </form>
    </div>
</main>

</body>
</html>